<div class="story-block row">
  <div class="col-md-6">
    <img class="article-image img img-responsive" src="{{story.cover_image}}">
  </div>
  <div class="col-md-6 pull-right">
    <h3>{{story.title}}</h3>
    <p>{{story.preview}}</p>
  </div>
</div>
